*{
    margin: 0px;
}

h2{
    text-align: center;
}

.calculator{
    display: grid;
    justify-content: center;
    padding: 90px;
    height: 400px;
}

.atribute{
    background-color: rgba(106, 74, 74, 0.432);
}

.input-number{
    display: flex;
    flex-direction: column;
    width: 250px;
    margin: 5px auto;
    color: rgb(44, 97, 141);
}

button{
    display: inline-block;
    margin: 5px;
    width: 50px;
    height: 50px;
    background-color: rgb(9, 11, 23);
    color: white;
    font-weight: bold;
}

#ac, #equal{
    width: 115px;
    background-color: rgb(111, 94, 94);
    color: white;
    font-weight: bold;
}

#division, #multiplication, #sum, #subtraction, #percentage{
    background-color: rgb(11, 14, 60);
    color: white;
    font-weight: bold;
}